body {
    background-color:  #c2c2c2;
    width: 100%;
    height: 740px;
}

.gradient {
    background: -webkit-linear-gradient(-90deg, rgba(108, 54, 173, 0.101961) 0%, rgba(194, 194, 194, 0) 100%);
    background: -moz-linear-gradient(-90deg, rgba(108, 54, 173, 0.101961) 0%, rgba(194, 194, 194, 0) 100%);
    background: -o-linear-gradient(-90deg, rgba(108, 54, 173, 0.101961) 0%, rgba(194, 194, 194, 0) 100%);
    background: -ms-linear-gradient(-90deg, rgba(108, 54, 173, 0.101961) 0%, rgba(194, 194, 194, 0) 100%);
    background: linear-gradient(180deg, rgba(108, 54, 173, 0.101961) 0%, rgba(194, 194, 194, 0) 100%);
    width: 100%;
    height: 406px;
    z-index: -1;
}

.row {
    margin-top: 20px;
}

.navbar {
    background-color: #dedede;
    background: -webkit-linear-gradient(90deg, rgba(255, 255, 255, 0) 9%, rgba(255, 255, 255, 0) 10%, rgba(255, 255, 255, 0.495) 99%, rgba(255, 255, 255, 0.5) 100%);
    background: -moz-linear-gradient(90deg, rgba(255, 255, 255, 0) 9%, rgba(255, 255, 255, 0) 10%, rgba(255, 255, 255, 0.495) 99%, rgba(255, 255, 255, 0.5) 100%);
    background: -o-linear-gradient(90deg, rgba(255, 255, 255, 0) 9%, rgba(255, 255, 255, 0) 10%, rgba(255, 255, 255, 0.495) 99%, rgba(255, 255, 255, 0.5) 100%);
    background: -ms-linear-gradient(90deg, rgba(255, 255, 255, 0) 9%, rgba(255, 255, 255, 0) 10%, rgba(255, 255, 255, 0.495) 99%, rgba(255, 255, 255, 0.5) 100%);
    background: linear-gradient(0deg, rgba(255, 255, 255, 0) 9%, rgba(255, 255, 255, 0) 10%, rgba(255, 255, 255, 0.495) 99%, rgba(255, 255, 255, 0.5) 100%);
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.15);
/* Layer contains multiple layer styles that cannot be represented in CSS. Use the color picker or extract the layer as an image. */
    width: 100%;
    height: 61px;
    padding: 0px;
}

.navbar .container-fluid {
    height: 100%;
}

.navbar .logo-classic {
    width: 43px;
    height: 37px;
    margin: 12px 0px;
}

.navbar .cart-wrapper {
    height: 61px;
    width: 61px;
    background-color:  #f7f7f7;
    border: 1px solid rgb(222, 222, 222, 0.08);
    border-top: none;
    border-bottom: none;
}

.navbar .cart-wrapper div {
    padding: 0px;
}

.navbar .text-cart {
    margin-top: 20px;
    margin-left: 5px;
    width: 7px;
    height: 9px;
    font-family: 'Source Sans Pro';
    color:  rgba(64, 64, 64, 0.75);
    font-size: 15px;
    font-weight: 600;
    text-align: left;
    position: absolute;
}

.navbar .logo-cart {
    margin-left: 14px;
    margin-top: 23px;
    margin-bottom: 21px;
    width: 19px;
    height: 17px;
}

.dropdown-menu {
    left: -137px;
    margin: 0 0 0;
    padding: 0;
    border-radius: 0;
    border-style: solid;
    border-width: 1px;
    border-color:  rgba(0, 0, 0, 0.20);
    border-top: none;
    background-color:  #f7f7f7;
    box-shadow: 1px 3px 15px 0px rgba(0, 0, 0, 0.15);
    width: 370px;
/*    height: 202px;*/
}

.dropdown-menu .cart-summary {
    margin: 8px 9px;
    height: 45px;
}

.dropdown-menu .btn {
    font-family: 'Source Sans Pro';
    color: #ffffff;
    font-size: 14px;
    font-weight: 600;
    line-height: 22px;
    text-align: center;
    border-radius: 3px;
    background: -webkit-linear-gradient(90deg, #7a3dc6 0%, #b65ae2 100%);
    background: -moz-linear-gradient(90deg, #7a3dc6 0%, #b65ae2 100%);
    background: -o-linear-gradient(90deg, #7a3dc6 0%, #b65ae2 100%);
    background: -ms-linear-gradient(90deg, #7a3dc6 0%, #b65ae2 100%);
    background: linear-gradient(0deg, #7a3dc6 0%, #b65ae2 100%);
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.3);
    width: 129px;
    height: 40px;
    margin-right: 2px;
    margin-left: 10px;
}

.dropdown-menu .cart-item-all {
    margin-right: 59px;
    font-family: 'Source Sans Pro';
    color:  #191919;
    font-size: 15px;
    font-weight: 700;
    text-align: left;
    display: inline-block;
}

.dropdown-menu .cart-price-all {
    font-family: 'Source Sans Pro';
    color:  #1a1a1a;
    font-size: 15px;
    font-weight: 700;
    text-align: right;
    width: 45px;
    display: inline-block;
}

.dropdown-menu .cart-item {
    margin: 5px 10px 5px 5px;
    height: 60px;
}

.dropdown-menu .cart-item img {
    width: 100px;
    height: 60px;
    display: inline-block;
}

.dropdown-menu .cart-item-title {
    font-family: 'Source Sans Pro';
    color:  #212121;
    font-size: 13px;
    font-weight: 600;
    line-height: 17px;
    text-align: left;
    width: 182px;
    display: inline-block;
    margin-left: 5px;
}

.dropdown-menu .cart-item-title div {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-transform: uppercase;
}

.dropdown-menu .cart-item-remove {
    font-family: 'Source Sans Pro';
    color: #212121;
    font-size: 12px;
    font-weight: 400;
    line-height: 13px;
    text-decoration: underline;
    text-align: left;
    visibility: hidden;
}

.dropdown-menu .cart-item-remove a {
    color: #212121;
}

.dropdown-menu .cart-item-price {
    display: inline-block;
    font-family: 'Source Sans Pro';
    color: rgba(64, 64, 64, 0.75);
    font-size: 13px;
    font-weight: 600;
    text-align: right;
    margin-left: 20px;
}

.main-text {
    font-family: 'Source Sans Pro';
    color:  #262626;
    font-size: 15px;
    font-weight: 700;
    text-align: left;
    margin-bottom: 0px;
}

.big-spots {
    width: 100%;
    height: 370px;
}

.big-spots img {
    width: 100%;
    height: 100%;
}

.big-spots .secretButton {
    font-family: 'Source Sans Pro';
    color: #ffffff;
    font-size: 14px;
    font-weight: 600;
    line-height: 22px;
    text-align: center;
    
    border-radius: 3px;
    background: -webkit-linear-gradient(90deg, #00905e 0%, #00c78c 100%);
    background: -moz-linear-gradient(90deg, #00905e 0%, #00c78c 100%);
    background: -o-linear-gradient(90deg, #00905e 0%, #00c78c 100%);
    background: -ms-linear-gradient(90deg, #00905e 0%, #00c78c 100%);
    background: linear-gradient(0deg, #00905e 0%, #00c78c 100%);
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.3);
    width: 389px;
    height: 40px;
    
    z-index: -1;
    position: absolute;
}

.moveForward {
    z-index: 1 !important;
}

.small-spots {
    background-color: #e1e1e1;
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.15);
    width: 100%;
    height: 185px;
    margin-bottom: 20px;
}

.small-spots img {
    width: 100%;
    height: 110px;
}

.small-spots .text-spots {
    font-family: 'Source Sans Pro';
    color: #212121;
    font-size: 14px;
    font-weight: 600;
    line-height: 14px;
    text-align: left;
    text-transform: uppercase;
    max-width: 155px;
    margin-top: 11px;
    margin-left: 9px;
    margin-bottom: 6px;
    min-height: 28px;
}

.small-spots .price-tags {
    padding-bottom: 7px;
}

.small-spots .price-tags .badge {
    font-family: 'Source Sans Pro';
    color:  #f3f3f3;
    font-size: 13px;
    font-weight: 600;
    background-color:  #00905e;
    width: 44px;
    height: 24px;
    padding-top: 6px;
    margin-right: 4px;
}

.small-spots .price-tags .btn {
    margin-right: 6px;
    height: 24px;
    font-family: 'Source Sans Pro';
    color: rgba(64, 64, 64, 0.75);
    font-size: 13px;
    font-weight: 600;
    text-align: right;
    padding-top: 1px;
    padding-right: 11px;
    padding-left: 13px;
    padding-bottom: 8px;
    border-style: solid;
    border-width: 1px;
    border-color:  rgba(0, 0, 0, 0.25);
    background-color:  rgba(0, 0, 0, 0);
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.25);
}

.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
